* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
}

body {
    height: 70vh;
    background-color: rgb(188, 248, 228);
}

.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    font-size: 14px;
    color: #023e8a;
}

.title img{
    height: 110px;
}

.memory-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 640px;
    width: 640px;
    margin: 25px;
    margin-left: 30%;
    perspective: 1000px; /* perspectiva do usuario no eixo z, quanto maior, maior o efeito da perspectiva */
}

.card {
    height: calc( 24.888% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d; /* adiciona perspectiva 3d, para que o elemento nao fique achatada no plano */
    transition: transform .9s; /* adiciona efeito de movimento ao flip do card */
}

.card:active{
    transform: scale(0.97);
    transition: transform .2s;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: rgb(92, 187, 182);
  backface-visibility: hidden; /* todo elemento tem uma frente e um verso (ao contrario, como um espelho.) essa propriedade retira o verso */
}

.card-front {
    transform: rotateY(180deg); /* antes, o verso aparecia transparente, pois ambas as imagens tem position absolute, ao girar no eixo Y, elas ficaram com os versos virados */
}

/* flip card animation */

.card.flip {
    transform: rotateY(180deg);
}
